body {
    background-color: #f2f2f2;
    color: #fff;
    font-family: Verdana, sans-serif;
    font-size: 14px;
    }
    #form {
    width: 500px;
    margin: 50px auto;
    background: #1e1e1e;
    padding: 25px;
    overflow: hidden;
    -moz-border-radius: 20px;
    -webkit-border-radius: 20px;
    border-radius: 20px;
    }
    h1 {
    font-size: 16px;
    color: #F5824a;
    margin-bottom: 20px;
    }




    label, input, textarea { /* Stili comuni agli elementi del form */
        color: #dedede; /* Colore del testo */
        float: left; /* Float a sinistra */
        font-family: Verdana, sans-serif; /* Tipo di carattere per il testo */
        margin: 10px 0; /* Margini */
        }
        label { /* Stili per la label */
        display: block; /* Impostiamo la label come elemento blocco */
        line-height: 30px; /* Altezza di riga */
        width: 150px; /* Larghezza */
        }
        input, textarea { /* Stili per il campo di testo e per la textarea */
        background: #1e1e1e; /* Colore di sfondo */
        border: 1px solid #323232; /* Bordo */
        color: #fff; /* Colore del testo */
        height: 30px; /* Altezza */
        line-height: 30px; /* Altezza di riga */
        width: 300px; /* Larghezza */
        padding: 0 10px; /* Padding */
        }
        input { padding-left: 30px;
        textarea { /* Stili specifici per la teaxtarea */
        background: #1C1C1C  
        font-size:12px;
        height: 200px;
        width : 320px;
        overflow hidden; /* disabilitare la scrollbar in IE */
        }




        #nome { background: #1C1C1C  }
#email { background: #1C1C1C  }
#submit {
padding: 0;
width: 100px;
}